/* Add left padding to the leftmost module */
.modules-left > widget:first-child {
  padding-left: 16px; /* adjust as needed */
}

/* Add right padding to the rightmost module */
.modules-right > widget:last-child {
  padding-right: 16px; /* adjust as needed */
}

#workspaces button.active {
  background: none;
  box-shadow: none;
  border: none;
  color: inherit;
}
